.bookstore {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
    h2 {
        color: pink;
        margin-bottom: 1rem;
    }
  
    ul {
        // display: grid;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            margin-left: 200px;
            font-size: 16px;
            b {
                margin-right: 100px;
            }
        }
    }
  
    button {
        background: linear-gradient(to right, pink, rgb(255, 150, 168));
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    }
  
    button:hover {
        background: linear-gradient(to right, rgb(251, 130, 150), rgb(247, 103, 127));
        transform: translateY(2px);
    }
  
    .final-price {
        margin-top: 1rem;
        color: pink;
        font-weight: 900;
        text-shadow: 1px 1px 8px pink;
    }
  
    p {
        margin: 0.3rem 0;
    }

    .add {
        display: grid;
        grid-template-columns: 1fr 1fr;
        button {
            grid-column: 1;
        }
        div {
            grid-column: 2;
            margin-left: 16px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: pink;
            font-size: 1rem;
            font-weight: 600;
        }
    }
  }
  